@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} @font-face {
    font-family: 'SUIT-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Noto Sans KR";
    height: 100vh;
    background-image: url('../assets/bg-web.png');
    background-size : cover;
    color: #000000;
}
a:link { color:#000000; text-decoration: none;}
a:visited { color:#000000; text-decoration: none;}
a:hover { color:orange; text-decoration: none;}

.info-wrapper {
    padding: 0 30% 5% 30%;
}

.application-wrapper {
    padding:1rem 20% 5% 20%;
}
.application-description{
    line-height: 120%;
}
.main-page {
    background-size : cover;
}
.main-area{
    padding-top: 8rem;
    padding-bottom: 7rem;
    text-align: right;
    text-align:center;
}
.big-logo {
    width: 25rem;
}
.main-title {
    font-size: 3rem;
    padding-left: 4rem;
    padding: 3rem;
    font-family: ROKAFSansBold;
    font-style: normal;
    line-height: 146%;
}
.description {
    font-size: 1.15rem;
    margin: 0;
    font-family: ROKAFSansMedium;
    font-style: normal;
    font-weight: bold;
    line-height: 146%;
    text-align:center;
    padding-top: 3rem;
}
.main_header {
    height: 10%;
    padding-left: 2rem;
    text-align: right;
}
.header {
    height: 10%;
    padding-left: 2rem;
    text-align: left;
}
.footer {
    padding: 3% 0 3% 0;
    padding-left: 8%;
    background: rgba(196, 196, 196, 0.2);
}
.apply-page {
    background-size : cover;
}
.submit {
    text-align: center;
    padding-bottom: 2rem;
}
/*---------------- laptop ------------------*/
@media (max-width: 1450px) {
    body {
        font-size: 1rem;
    }
    .main-area{
        padding-top: 3rem;
    }
    .big-logo {
    width: 16rem;
    }
    .main-title {
        font-size: 2rem;
    }
    .description {
        font-size: 1rem;
        padding-top: 2rem;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 0.7rem;
    }
    .main-page {
        height: 100vh;
        background-image: url('../assets/bg-mobile.png');
        background-repeat : no-repeat;
        background-size : cover;
    }
    .main-area{
        padding-top: 10rem;
    }
    .big-logo {
    width: 13rem;
    }
}
@media (max-width: 380px) {
    body {
        font-size: 0.4rem;
    }
    .big-logo {
    width: 8rem;
    }
}