@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} @font-face {
    font-family: 'SUIT-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Noto Sans KR";
    color: #FFFFFF;
}
a:link { color:#0067AC; text-decoration: none;}
a:visited { color:#0067AC; text-decoration: none;}
a:hover { color:orange; text-decoration: none;}

.wrapper {
    padding:1rem 15% 5% 15%;
}
.main-page {
    background-image: url('../assets/bg-web-dark.png');
    background-size : cover;
}
.header {
    height: 10%;
    padding-left: 2rem;
    text-align: right;
}
.footer {
    padding: 5% 0 5% 0;
    padding-left: 8%;
    background: rgba(196, 196, 196, 0.2);
}
.apply-page {
    background-image: url('../assets/bg-web.png');
    background-repeat : no-repeat;
    background-size : cover;
}
.submit {
    text-align: center;
}
@media (max-width: 767px) {
    body {
        font-size: 0.7rem;
    }
    .main-page {
        height: 100vh;
        background-image: url('../assets/bg-mobile.png');
        background-repeat : no-repeat;
        background-size : cover;
    }
}
@media (max-width: 380px) {
    body {
        font-size: 0.4rem;
    }
}